In [23]:
print('2. Использование модуля Pandas', end="\n"*2)
print('2.1', end="\n"*2)

2. Использование модуля Pandas

2.1

In [24]:
import pandas as pd
heights = [188, 172, 187, 161, 183, 172, 185, 163, 173, 183, 174, 174, 175,
178, 183, 195, 178, 173, 174, 183, 174, 181, 162, 180, 170, 175, 182, 180, 183,
178, 182, 188, 175, 179, 184, 193, 182, 183, 175, 185, 182, 183, 150, 185, 199]

weights = [86, 71, 89, 64, 83, 72, 86, 68, 73, 84, 73, 72, 75, 78, 85, 93, 78,
70, 74, 80, 83, 82, 68, 80, 73, 78, 82, 81, 83, 79, 82, 86, 76, 77, 80, 103,
82, 83, 77, 89, 80, 85, 82, 85, 110]

ages = [58, 61, 54, 54, 58, 57, 63, 54, 37, 51, 34, 26, 50, 48, 45, 52, 56,
40, 54, 28, 52, 47, 55, 55, 54, 42, 51, 50, 55, 51, 54, 32, 21, 62, 43, 55,
50, 61, 53, 22, 64, 45, 54, 47, 38] 

data_dict = {'heights':(heights), 'weights': (weights) , 'ages': (ages)}
df = pd.DataFrame(data=data_dict)

print(df.info(),"\n"*4)
print("Первые 3")
print(df.head(3))
print("Последние 3")
print(df.tail(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   heights  45 non-null     int64
 1   weights  45 non-null     int64
 2   ages     45 non-null     int64
dtypes: int64(3)
memory usage: 1.2 KB
None




Первые 3
   heights  weights  ages
0      188       86    58
1      172       71    61
2      187       89    54
Последние 3
    heights  weights  ages
42      150       82    54
43      185       85    47
44      199      110    38

In [25]:
print('2.2', end="\n"*2)
print(df.max(), "\n"*2) #находит макс знач для каждой столбца/(зависит от индекса), а так же выводит тип даты лежащий в ячеке.
print(df.min(), "\n"*2) #находит мин знач для каждой столбца/(зависит от индекса), а так же выводит тип даты лежащий в ячеке.

2.2

heights    199
weights    110
ages        64
dtype: int64


heights    150
weights     64
ages        21
dtype: int64

In [26]:
print('heights методом mean', round (df['heights'].mean(),3), "\n"*2) #находим среднее значение для каждого столбика + округляем до 3 знаков после запятой
print('weights методом mean', round (df['weights'].mean(),3), "\n"*2)
print('ages методом mean', round (df['ages'].mean(),3), "\n"*2)

heights методом mean 178.756


weights методом mean 80.444


ages методом mean 48.733

In [27]:
print('heights ручная проверка (', round (df['heights'].sum() / len(df['heights']), 3), ")", "\n"*2)
print('weights ручная проверка (', round(df['weights'].sum() / len(df['weights']), 3), ")", "\n"*2)
print('ages ручная проверка (', round(df['ages'].sum() / len(df['ages']), 3),")", "\n"*2)

heights ручная проверка ( 178.756 )


weights ручная проверка ( 80.444 )


ages ручная проверка ( 48.733 )

In [28]:
print('median(',df.median(), ")", "\n"*2) #найдём медиану

median( heights    180.0
weights     80.0
ages        52.0
dtype: float64 )

In [29]:
print('Стандартное отклонение',"\n"*2, round(df.std(), 3)) #среднеквардратичное отклонение

Стандартное отклонение

 heights     8.906
weights     8.414
ages       10.646
dtype: float64

In [30]:
print('2.3', end="\n"*2)
print(df.describe()) #NB помни об этой фунции, позволяет найти всё и сразу по кол-ву, среднему и тд и тп. (Уточнить что за кварталы)

2.3

          heights     weights       ages
count   45.000000   45.000000  45.000000
mean   178.755556   80.444444  48.733333
std      8.906473    8.414154  10.645955
min    150.000000   64.000000  21.000000
25%    174.000000   75.000000  45.000000
50%    180.000000   80.000000  52.000000
75%    183.000000   84.000000  55.000000
max    199.000000  110.000000  64.000000