In [2]:
print('3. Дата фреймы Pandas')
print(' 3.1', end="\n"*2)

3. Дата фреймы Pandas
 3.1

In [5]:
import pandas as pd
heights = [188, 172, 187, 161, 183, 172, 185, 163, 173, 183, 174, 174, 175,
178, 183, 195, 178, 173, 174, 183, 174, 181, 162, 180, 170, 175, 182, 180, 183,
178, 182, 188, 175, 179, 184, 193, 182, 183, 175, 185, 182, 183, 150, 185, 199]

weights = [86, 71, 89, 64, 83, 72, 86, 68, 73, 84, 73, 72, 75, 78, 85, 93, 78,
70, 74, 80, 83, 82, 68, 80, 73, 78, 82, 81, 83, 79, 82, 86, 76, 77, 80, 103,
82, 83, 77, 89, 80, 85, 82, 85, 110]

ages = [58, 61, 54, 54, 58, 57, 63, 54, 37, 51, 34, 26, 50, 48, 45, 52, 56,
40, 54, 28, 52, 47, 55, 55, 54, 42, 51, 50, 55, 51, 54, 32, 21, 62, 43, 55,
50, 61, 53, 22, 64, 45, 54, 47, 38] 

data_dict = {'heights':(heights), 'weights': (weights) , 'ages': (ages)} #создаём словарь с индксами=названием листов
df = pd.DataFrame(data_dict) # собственно - создание датафрейма из, в данном случае, словаря.
new_one_df = df.head(40) # первые 40 строк данного дф (помни индексация от 0)
print(new_one_df)

    heights  weights  ages
0       188       86    58
1       172       71    61
2       187       89    54
3       161       64    54
4       183       83    58
5       172       72    57
6       185       86    63
7       163       68    54
8       173       73    37
9       183       84    51
10      174       73    34
11      174       72    26
12      175       75    50
13      178       78    48
14      183       85    45
15      195       93    52
16      178       78    56
17      173       70    40
18      174       74    54
19      183       80    28
20      174       83    52
21      181       82    47
22      162       68    55
23      180       80    55
24      170       73    54
25      175       78    42
26      182       82    51
27      180       81    50
28      183       83    55
29      178       79    51
30      182       82    54
31      188       86    32
32      175       76    21
33      179       77    62
34      184       80    43
35      193      103    55
36      182       82    50
37      183       83    61
38      175       77    53
39      185       89    22

In [12]:
print(' 3.2', end="\n"*2)

funс = new_one_df[new_one_df["heights"] > 180] #NB сортировка элементов по 1 столбцу, с порогом отсечения, в данном случае >180
print(funс)
print("Count rows", len(funс.index)) #кол-во строчек полученных таким образом, удобно что сохраняется в индексе старое значение

 3.2

    heights  weights  ages
0       188       86    58
2       187       89    54
4       183       83    58
6       185       86    63
9       183       84    51
14      183       85    45
15      195       93    52
19      183       80    28
21      181       82    47
26      182       82    51
28      183       83    55
30      182       82    54
31      188       86    32
34      184       80    43
35      193      103    55
36      182       82    50
37      183       83    61
39      185       89    22
Count rows 18

In [16]:
print(' 3.3', end="\n"*2)
funс = new_one_df[new_one_df.weights < 80] # Параметр weights определяет относительные веса.
print(funс, end="\n"*2)
print("Count rows", len(funс.index), end="\n"*2)

 3.3

    heights  weights  ages
1       172       71    61
3       161       64    54
5       172       72    57
7       163       68    54
8       173       73    37
10      174       73    34
11      174       72    26
12      175       75    50
13      178       78    48
16      178       78    56
17      173       70    40
18      174       74    54
22      162       68    55
24      170       73    54
25      175       78    42
29      178       79    51
32      175       76    21
33      179       77    62
38      175       77    53

Count rows 19

In [23]:
print(' 3.4', end="\n"*2)
funс = new_df [((new_one_df.ages < 50) & (new_one_df.ages > 30))] # мультифакторый анализ, когда нужна сортировка и отбор по нескольким параметрам 


print(funс, end="\n"*2)
print("Count rows", len(funс.index), end="\n"*2)

 3.4

    heights  weights  ages
8       173       73    37
10      174       73    34
13      178       78    48
14      183       85    45
17      173       70    40
21      181       82    47
25      175       78    42
31      188       86    32
34      184       80    43

Count rows 9

In [26]:
print(' 3.5', end="\n"*2)
new_df = df.head(40)
funс = new_df [((new_df.heights > 170) & (new_df.weights > 80)) ]

print(funс, end="\n"*2)
print("Count rows", len(funс.index), end="\n"*2)
print(round(funс.describe(),3))

 3.5

    heights  weights  ages
0       188       86    58
2       187       89    54
4       183       83    58
6       185       86    63
9       183       84    51
14      183       85    45
15      195       93    52
20      174       83    52
21      181       82    47
26      182       82    51
27      180       81    50
28      183       83    55
30      182       82    54
31      188       86    32
35      193      103    55
36      182       82    50
37      183       83    61
39      185       89    22

Count rows 18

       heights  weights    ages
count   18.000   18.000  18.000
mean   184.278   85.667  50.556
std      4.763    5.336   9.841
min    174.000   81.000  22.000
25%    182.000   82.250  50.000
50%    183.000   83.500  52.000
75%    186.500   86.000  55.000
max    195.000  103.000  63.000