In [1]:
print('5. Дата фреймы Pandas')
print(' 5.1', end="\n"*2)

5. Дата фреймы Pandas
 5.1

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://elteha.ru/data_science/precious_metal.csv', sep = ';')
df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)
df.head()

C:\Users\Давкул\AppData\Local\Temp\ipykernel_3908\450529295.py:2: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df.set_axis(['gold', 'silver', 'platinum', 'palladium','date'], axis = 'columns', inplace = True)

      gold silver platinum palladium             date
0   4784,4   58,7  2183,31   5677,62  31.10.2020 0:00
1  4759,17  60,67  2195,94   5662,27  30.10.2020 0:00
2  4729,52  60,93  2179,19   5812,01  29.10.2020 0:00
3  4667,69  59,68  2145,92   5813,41  28.10.2020 0:00
4  4673,64  60,85  2189,85       NaN  27.10.2020 0:00

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gold       124 non-null    object
 1   silver     121 non-null    object
 2   platinum   124 non-null    object
 3   palladium  120 non-null    object
 4   date       128 non-null    object
dtypes: object(5)
memory usage: 5.1+ KB
None

In [5]:
print(' 5.2', end="\n"*2)
df['date'] = pd.to_datetime(df.date, format = '%d.%m.%Y %H:%M')

print(df.info())

 5.2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gold       124 non-null    object
 1   silver     121 non-null    object
 2   platinum   124 non-null    object
 3   palladium  120 non-null    object
 4   date       128 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 5.1+ KB
None

In [6]:
print(' 5.3', end="\n"*2)
months = {1:'Январь', 2:'Февраль', 3:'Март', 4:'Апрель', 5:'Май', 6:'Июнь', 7:'Июль', 8:'Август', 9:'Сентябрь', 10:'Октябрь', 11:'Ноябрь', 12:'Декабрь'}

df['date'] = pd.to_datetime(df['date'])
df['month'] = pd.DatetimeIndex(df['date']).month

#Использование собственной функции
df['month'] = df['month'].apply(lambda i: months[i])



print(df)

 5.2

        gold silver platinum palladium       date    month
0     4784,4   58,7  2183,31   5677,62 2020-10-31  Октябрь
1    4759,17  60,67  2195,94   5662,27 2020-10-30  Октябрь
2    4729,52  60,93  2179,19   5812,01 2020-10-29  Октябрь
3    4667,69  59,68  2145,92   5813,41 2020-10-28  Октябрь
4    4673,64  60,85  2189,85       NaN 2020-10-27  Октябрь
..       ...    ...      ...       ...        ...      ...
123  4047,21    NaN  1800,29   4298,85 2020-05-09      Май
124   4023,9   35,7  1794,33   4324,99 2020-05-08      Май
125  4040,41  35,85  1795,58   4221,39 2020-05-07      Май
126  4014,11  35,86  1819,12   4655,36 2020-05-01      Май
127   4041,8  35,93  1847,95   4638,83 2020-04-30   Апрель

[128 rows x 6 columns]